* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(7, 7, 37);
    /* background-image: url(../img/IMG_0625.jpg); */
    background-size: 100%;
    color: rgb(223, 206, 169);
    text-align: center;
}

img {
    height: 200px;
    width: auto;
}

div.homenav {
    background-color: rgba(14, 14, 67, 0.5);
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

div.home {
    background-color: rgb(35, 35, 97, 0.5);
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

div.home1 {
    background-color: rgb(56, 56, 127, 0.5);
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

div.home2 {
    background-color: rgb(77, 77, 157, 0.5);
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

div.home3 {
    background-color: rgb(98, 98, 187, 0.5);
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

div.home4 {
    background-color: rgb(112,112, 217, 0.5);
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

li {
    list-style-position: inside;
}

a:link {
    color: rgb(223, 206, 169)
}

a:visited {
    color: rgb(206, 149, 26)
}

.nava {
    display: inline-block;
    padding: 12px;
}

.nava:link {
    text-decoration: none;
  }

.nava:visited {
    text-decoration: none;
}

.nav {
    list-style-type: none; 
    margin: 0px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.navli {
    display: inline;
    padding: 15px;
    background-color: rgb(62, 37, 85);
    border: 5px solid rgb(28, 63, 63);
}

.navli:hover {
    background-color: rgb(138, 83, 0);
    color: rgb(145, 224, 255);
    border: 5px solid rgb(24, 23, 99);
}

.nava:hover {
    background-color: rgb(138, 83, 0);
    color: rgb(145, 224, 255);
}

.pagetitle {
    font-size: 75px;
    font-family: serif, 'Times New Roman', Times;
    font-weight: 800;
}

.return {
    color: rgb(173, 145, 187);
    font-size: 25px;
    font-weight: 800;
}

.wait {
    font-style: oblique;
}

.cam {
    position: fixed;
    font-size: 10px;
    /* margin-left: 400px; */
}

.cam p {
    display: block;
}

.cam img {
    height: 100px;
    width: auto;
}

.nav.pick {
    margin-left: 75%;
}

.nav.cat {
    margin-left: 75%;
    padding: 2px;
}