* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(7, 7, 37);
    color: rgb(223, 206, 169);
    text-align: center;
}

img {
    height: 200px;
    width: auto;
}

li {
    list-style-position: inside;
}

a:link {
    color: rgb(223, 206, 169)
}

a:visited {
    color: rgb(223, 206, 169)
}

.nava:link {
    text-decoration: none;
  }

.nava:visited {
    text-decoration: none;
}


.nav {
    list-style-type: none; 
    margin: 0px;
    padding: 8px;
    text-align: center;
}

.navli {
    display: inline;
    padding: 8px;
    background-color: rgb(62, 37, 85);
    border: 5px solid rgb(28, 63, 63);
}

.navli:hover {
    background-color: rgb(138, 83, 0);
    color: rgb(145, 224, 255);
    border: 5px solid rgb(24, 23, 99);
}

.nava:hover {
    background-color: rgb(138, 83, 0);
    color: rgb(145, 224, 255);
}

.pagetitle {
    font-size: 75px;
    font-family: serif, 'Times New Roman', Times;
    font-weight: 800;
}

.return {
    color: rgb(173, 145, 187);
    font-size: 25px;
    font-weight: 800;
}

.wait {
    font-style: oblique;
}
